<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#">
                <img src="~/Content/Admin/css/images/mainlogo.png" alt="logo" class="logo-default" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top page-bar">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            @*<div class="today hidden-xs">امروز پنج شنبه 8 شهریور</div>*@

            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">صفحه اصلی</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                    <span>مرکز کنترل کاربر</span>
                </li>
            </ul>

            <!--   <form class="search-form search-form-expanded" action="default.aspx" method="GET">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="جستجو ..." name="query">
                     <span class="input-group-btn">
                                 <a href="javascript:;" class="btn submit">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </span>
                 </div>
             </form>
            -->
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">


                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle hide" src="@ViewBag.AvatarPath"  />
                            <span class="username username-hide-on-mobile"> @User.Identity.Name </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            @*<li>
                                <a href="#">
                                    <i class="icon-envelope-open"></i>صندوق پیامهای من
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-calendar"></i>وظایف جاری من
                                    <span class="badge badge-success"> 7 </span>
                                </a>
                            </li>*@
                            <li>
                                <a href="#"> @*@Url.Action(MVC.User.ActionNames.ProfilePage, MVC.User.Name, new { area = "" })*@
                                    @*<i class="icon-user"></i>ویرایش پروفایل من*@
        @Ajax.RawActionLink(string.Format("<i class='icon-lock'></i>{0}", "ویرایش پروفایل من"),
        MVC.Admin.User.ActionNames.EditUserByUserName,
        MVC.Admin.User.Name,
        null,
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "main-content",
            OnSuccess = "loadAjaxComponents",
            OnComplete = "hideLoading",
            OnBegin = "showLoading"
        },
        new { username = @User.Identity.Name })
        </a>
    </li>
                            <li class="divider"> </li>
                                <li class="nav-item">
                                    <a href="#">                                       
                                     @using (Html.BeginForm(MVC.User.ActionNames.LogOut, MVC.User.Name, new { area = "" }, FormMethod.Post, new { id = "frmLogOut" }))
                                     {
                                         @Html.AntiForgeryToken()
                                         <span style="display: block;height: 18px;width: 100%;" onclick="javascript:document.getElementById('frmLogOut').submit()"><i class="icon-logout"></i>خروج</span>
                                     }
                                    </a>
                                </li>                           
                            </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
