@model IEnumerable<MyCMS.Model.AdminModel.PostDataTableModel>
@{
    int currentPage = ViewBag.CurrentPage;
    int count = ViewBag.Count;
    //int max = ViewBag.TotalRecords / count;
    //int firstPage = ((currentPage - 2) <= 0) ? 0 : currentPage - 3;
    //int lastPage = ((currentPage + 2) >= max) ? max : currentPage + 3;
    var LstColClass = "";



    var totalPages = (int)Math.Ceiling((decimal)ViewBag.TotalRecords / (decimal)count);
    var startPage = currentPage - 5;
    var endPage = currentPage + 4;
    if (startPage <= 0)
    {
        endPage -= (startPage - 1);
        startPage = 1;
    }
    if (endPage > totalPages)
    {
        endPage = totalPages;
        if (endPage > 10)
        {
            startPage = endPage - 9;
        }
    }

}
<div id="user-table">
    <div class="col_full  clearfix">
      
        @foreach (var post in Model)
{
    if (post == Model.Last())
    {
        LstColClass = "col_last";
    }
    <div class="col_one_fourth nobottommargin @LstColClass">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="@Url.RouteUrl("KBDetailRoute", new { action = MVC.Post.ActionNames.Index, controller = MVC.Post.Name, Id = post.Id })">
                    <img class="image_fade" src="@post.Picture" alt="@post.Title">
                </a>
            </div>
            <div class="entry-title">
                <h3>
                    <a href="@Url.RouteUrl("KBDetailRoute", new { action = MVC.Post.ActionNames.Index, controller = MVC.Post.Name, Id = post.Id })">
                        @post.Title
                    </a>
                </h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3 calc"></i> @Html.ConvertToPersianDateTime(post.PostedDate, "M")</li>
            </ul>
        </div>
    </div>

}

        <div class="clear"></div>

    </div>
    <div id="loading" style="position: absolute; display: none;">
        <img src="@Links.Content.Images.loading1_gif" />
    </div>
    <div style="text-align:right">
        @if (endPage > 1)
        {
            <ul class="pagination">
                @if (currentPage > 1)
                {
                    <li>@Ajax.ActionLink("«", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = 0, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>

                    @*<li>@Ajax.ActionLink("→", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = currentPage - 2, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>*@

                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="First">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    @*<li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">→</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>*@
                }
                @if (currentPage > 10)
                {

                    <li>@Ajax.ActionLink("...", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = currentPage - 11, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>

                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">...</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @*<li>@Ajax.ActionLink("«", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = 0, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "disabled" })</li>

            <li>@Ajax.ActionLink("<", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = 0, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "disabled" })</li>*@

                }

                @for (var _page = startPage; _page <= endPage; _page++)
                {
                    <li class="@(_page == currentPage ? "active" : "")">
                        @Ajax.ActionLink(Html.ConvertToPersianString(_page).ToString(), MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = _page - 1, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                    </li>
                }

                @if (currentPage < totalPages - 9)
                {
                    <li>
                        @Ajax.ActionLink("...", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = currentPage + 9, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Next">
                            <span aria-hidden="true">...</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                } 
                @if (currentPage < totalPages - 1)
                {
                    @*<li>
                        @Ajax.ActionLink("←", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = currentPage, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                    </li>*@
                    <li>@Ajax.ActionLink("»", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = totalPages - 1, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
                }
                else
                {
                    @*<li>
                            @Ajax.ActionLink(">", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = totalPages - 1, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "disabled" })
                        </li>
                        <li>@Ajax.ActionLink("»", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = totalPages - 1, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "disabled" })</li>*@

                    @*<li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Next">
                            <span aria-hidden="true">←</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>*@
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-label="Last">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                }
            </ul>
        }

        @*<br />
        <ul class="pagination">

            <li>@Ajax.ActionLink("«", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = 0, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
            @for (int i = firstPage; i <= lastPage; i++)
            {
                if (i + 1 == currentPage)
                {
                    <li class="active"><a href="#">@Html.ConvertToPersianString(i + 1)</a></li>
        }
        else
        {
                    <li>
                        @Ajax.ActionLink(Html.ConvertToPersianString(i + 1).ToString(), MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = i , count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                    </li>
        }
    }
            <li>@Ajax.ActionLink("»", MVC.Post.ActionNames.FooterPostsWithSkip, MVC.Post.Name, new { page = max, count = 4, skip = 7 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
        </ul>*@
    </div>
</div>
 

<script type="text/javascript">
    $('.pagination .disabled a, .pagination .active a').on('click', function (e) {
        e.preventDefault();
    });
    function showLoading() {

    var top = ($(window).height() - $('div#loading').height()) / 2;

    $('div#loading').css({ 'z-index': '2000', 'top': top + $(document).scrollTop() }).fadeIn('slow');
    }

    function hideLoading() {
    $('div#loading').fadeOut('slow').css('z-index', '10');
    }
    function loadAjaxComponents() {
    }
</script>